<div class="artist" *ngIf="artist">
  <div class="artist-banner">
    <div class="arist-banner-name">
      <h1>{{artist.artist}}</h1>
      <div class="about">{{artist.about}}</div>
      <a [color]="'primary'" mat-button mat-raised-button [routerLink]="'/'">
        <mat-icon>play_circle_outline</mat-icon> Play songs</a>
    </div>
    <img [src]="artist.image" [alt]="artist.artist" [title]="artist.artist" />
  </div>
  <div class="artist-content">
    <div class="albums">
      <h3>
        <mat-icon color="accent">album</mat-icon> {{artist.artist}}'s Albums</h3>
      <app-artist-album-list [artist]="artist" [albums]="albums | async" (onAddSong)="addSongToPlaylist($event)"></app-artist-album-list>
    </div>
  </div>
</div>
